<%= form_with(model: blog, local: true) do |form| %>
  <% if blog.errors.any? %>
    <% blog.errors.full_messages.each do |error| %>
      <%= alert_generator error %>
    <% end %>
  <% end %>

  <div class="form-group inherit-background">
    <%= form.text_field :title, class: 'form-control inherit-background', Placeholder: "Title" %>
  </div>
  
  <div class="form-group inherit-background">
    <%= form.label :topic_id %>
    <%= form.collection_select(:topic_id, Topic.all, :id, :title,
                              {
                                selected: blog.topic_id,
                                include_blank: true
                              },
                              class: "form-control inherit-background"
      ) %>
  </div>
  <div class="form-group inherit-background">
    <%= form.radio_button :status, 'draft' %>
    <%= form.label :status, "Draft" %>
    
    <%= form.radio_button :status, 'published' %>
    <%= form.label :status, "Published" %>
  </div>
  <div class="form-group inherit-background">
    <%= form.text_area :body, class: 'form-control inherit-background', rows: 10, Placeholder: "Body" %>
  </div>

  <div class="form-group">
    <%= form.submit "Submit", class: "btn btn-primary" %>
  </div>
<% end %>
