<div class="col-md-8 blog-main">
  <h2><%= @blog.title %></h2>
  
  <nav aria-label="breadcrumb">
    <ol class="breadcrumb inherit-background">
      <li class="breadcrumb-item"><%= link_to 'Home', root_path %></li>
      <li class="breadcrumb-item"><%= link_to @blog.topic.title, topic_path(@blog.topic) %></li>
      <li class="breadcrumb-item active" aria-current="page"><%= @blog.title %></li>
      
      <li class="ml-auto">
        <%= link_to fa_icon('pencil-square-o'), edit_blog_path(@blog) if logged_in?(:site_admin) %>
        <%= link_to fa_icon('trash'), @blog, method: :delete, data: {confirm: "Are You Sure?" } if logged_in?(:site_admin) %>
      </li>
    </ol>
  </nav>
  <%#= link_to 'Edit', edit_blog_path(@blog) if logged_in?(:site_admin) %>
  <div class="card blog-body">
    <p> <%= markdown @blog.body %> </p>
  </div>
  <%= render 'comments/comment_form' %>
  <div id='comments' data-blog-id="<%= @blog.id %>">
    <%= render @blog.comments %>  
  </div>
</div>
